<% provide(:title, 'Home')%>
<h1>Home</h1>
<%if logged_in?%>
	<%= link_to "logout", logout_path, method: :delete %>
<%else%>
	<%= link_to "login", login_path %>
	<%= link_to "signup", new_user_path%>
<%end%>
<%= link_to "about", about_path %>
